@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

#main-navigation {
	@include border-radius(0px);
}

.diagram-title {
	margin-bottom: 10px;
}


.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 100px;
}
/*
.tile {
    height: 100px;
}
.grid {
    margin-top: 1em;
}
*/